<div class="container">
  <h1> About blog </h1>
  <p>
    Blog app made by Rails 6 and styled with Boostrap 5
    <ul class="list-group features-list">
      <li class="list-group-item">Rails 6</li>
      <li class="list-group-item">Styled by Bootsrap 5</li>
      <li class="list-group-item">CRUD operations</li>
      <ul>
  </p>
</div>