<div class="container">
  <div class="card home-card" >

    <div class="card-body">
      <h1 class="card-title text-white hero-title">ALPHA BLOG</h1>
      <p class="card-text text-white hero-description">This is a blog made by Ruby on Rails 6 and styled with Bootstrap 5. 
      <br> You can list, create, edit and delete articles.
      </p>
      <%= link_to "Sign up!", signup_path, class: "btn btn-success" %>
    </div>
  </div>
</div>
