@import 'bootstrap/dist/css/bootstrap';

body {
  min-height: 100vh !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-card {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
  height: 500px !important;

  background-image: image-url('blog-bg-2.jpg') !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center !important;
}

.hero-title {
  margin-bottom: 30px !important;
}

.hero-description {
  max-width: 40% !important;
  margin-bottom: 100px !important;
}

.nothing-pic {
  width: 100px;
}


.article-descr-input {
  resize: none !important;
}

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-about {
  opacity: 0.5;
}

.features-list {
  max-width: 50% !important;
}

.bg-about {
  background-image: image-url('bg-about.jpg');
}

.articles-bg {
  background-image: image-url('bg-articles.jpg');
  background-size: contain;
}

/*pagination styling */


.apple_pagination {
  background: transparent;
  border: none;
  text-align: center;
  padding: 1em;
  cursor: default;
}

.apple_pagination a,
.apple_pagination span {
  padding: 0.2em 0.3em;
}

.apple_pagination .disabled {
  color: #aaaaaa;
}

.apple_pagination .current {
  font-style: normal;
  font-weight: bold;
  background-color: #bebebe;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
}

.apple_pagination a {
  text-decoration: none;
  color: black;
}

.apple_pagination a:hover,
.apple_pagination a:focus {
  text-decoration: underline;
}